/* Common classes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 1500px;
}

.whiten-text{
    color: #fff !important;
}

.row{
    margin: 0 -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col-full{
    width: 100%;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 33.33333%;
}

.text-center{
    text-align: center;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

/* HEADER */
#header{
    width: 100%;
    height:50px;
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#header .search-btn{
    line-height: 50px;
    padding: 0 24px;
    transition-duration: 0.3s;
}

#header>.search-btn:hover, #header .search-icon:hover{
    background-color: red !important;
    cursor: pointer;
    transform: skew(1.25);
    transition-duration: 0.3s;
}

#header .search-icon{
    color: #fff;
    display: inline-block;
    font-size: 16px;
}

/* NAVIGATION */
#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

#nav > li > a{
    color: #fff;
}

#nav li a{
    line-height: 50px;
    text-decoration: none;
    height: 20px;
    width: 52px;
    padding: 0 15px;
}

#nav > li:hover, #nav .subnav > li:hover {
    background-color: #777;
}

#nav .nav-menu{
    font-size: 12px;
}
/* SUB NAVIGATION ZONE */
#nav li:hover .subnav{
    display: block;
    transition-duration: 0.3s;
}

#nav .subnav{
    transition-duration: 0.3s;
    min-width: auto;
    display: none;
    position: absolute;
    background-color: #fff;
    top: 50px;
    box-shadow: 0 0 12px rgba(0,0, 0, 0.5);
}

.subnav li{
    width: 100%;
}

#nav .subnav a{
    color: #000;
    line-height: 0 40px;
    padding: 0 12px;
}

/* SLIDER */
#slider{
    position: relative;
    margin-top: 50px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center/ cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    color: #dfebe2;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    margin-bottom: 10px;
    font-weight: 500;
    color: aquamarine;
}

#slider .sub-text{
    margin: 15px 0;
}

/* CONTENT ZONE */
/* #content{
} */

#content .content-section{
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 112px;
    width: 800px;
    text-align: justify;
}

#content .section-heading, 
.section-sub-heading{
    text-align: center;
}

#content .section-heading{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 30px;
}

#content .section-sub-heading{
    font-style: italic;
    font-weight: 200;
    color: #777;
    margin: 20px 0px;
}

#content .about-text{
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item{
    padding: 32px 0;
    margin-bottom: 15px;
}

#content .member-item .member-name{
    font-size: 15px;
}

#content .member-item img{
    border-radius: 3px;
    margin-top: 15px;
    width: 154px;
}

/* TOUR SECTION */
.tour-section{
    background-color: #000;
    padding-bottom: 50px;
    overflow: hidden;
}

/* TICKETS */
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    list-style-type: none;
    padding: 12px 16px;
    font-size: 15px;
    opacity: 0.7;
    border-bottom: 1px solid #ccc;
}

.tickets-list .sold-out{
    background: #e63d09;
    color: #fff;
    padding: 4px 4px;
    margin-left: 20px;
}

.tickets-list .quantity-remain{
    float: right;
    width: 20px;
    height: 20px;
    background-color: #000;
    padding: 3px 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    margin-top: -2px;
}

/* PLACES ZONE*/
.places-list{
    margin-top: 32px;
    overflow: hidden;
    padding-bottom: 50px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.7;
}

.place-content{
    background: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: 600;
}

.place-time{
    opacity: 0.7;
    margin-top: 15px;
}

.place-description{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 11px 18px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 4px;
}

.place-buy-btn:hover{
    color: #000;
    background: #ccc;
    font-weight: 400;
}

/* Contact section */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i{
    padding-right: 16px;
}

.contact-form .form-control{
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.contact-form .form-submit-btn{
    float: right;
    padding: 10px 16px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.contact-form .form-submit-btn:hover{
    cursor: pointer;
}

/* MAP */
.map-section img{
    width: 100%;
    margin-top: 15px;
}

/* FOOTER ZONE */
#footer{
    text-align: center;
    padding: 64px 16px;
}

#footer .social-medias a{
    color: rgba(0,0,0,0.6);
    margin-bottom: 15px;
    text-decoration: none;
}

#footer .copyright{
    color: rgba(0,0,0,0.6);
}
/* Responsive */

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
    #content .content-section{
        margin-left: auto;
        margin-right: auto;
        padding-top: 64px;
        padding-bottom: 112px;
        width: 800px;
        max-width: 100%;
        text-align: justify;
        padding-left: 16px;
        padding-right: 16px;
    }
}